<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login and Reg | Succcess</title>
	{%load staticfiles%}
	<link rel="stylesheet" href="{%static 'house/css/style.css'%}" media="all">
   <style>
	#map{
	height:400px;
	width:100%;
}
			
</style>
</head>
<body>
	<div class="container">
		<div class="header">
			<h1>BuyA<span style="color:tomato">House</span></h1>
				
			
			<div class="logout">
				<a class="contact" href="/">Logout</a>
			</div>
			
		</div><!--end of div header-->
		<hr>
		<div class="main_content">
			<h1>Welcome</h1>
			<h2>Find your home</h2>
			<form action={%url 'house:display'%} method='post'>
				{%csrf_token%}
				<input type="text" name="search" placeholder="Enter your city.." id="autocomplete">
				<input type="submit" name="submit" value="Find">
			</form>
			<div id="info"></div>
			<h2>Browse Homes</h2>
			
			<a class="contact" href="">Alabama</a>
			<a class="contact" href="">Alaska</a>
			<a class="contact" href="">South Dakota</a>
			<a class="contact" href="">Tennessee</a>
			<a class="contact" href="">West Virginia</a>
			<a class="contact" href="">Wisconsin</a>
<div id="map"></div>
<script>
	  
      function initMap() {
		  var center_house = {lat:{{first1.y}} , lng:{{first1.x}}};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: center_house
        });
		{%for house in location%}

		var cent={lat:{{house.y}},lng:{{house.x}}};
        console.log(cent);
		var marker = new google.maps.Marker({
          position: cent,
          map: map
        });
		{%endfor%}
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4vTHBephMsPZygX3N8FGMsaAAlx-GiJE&callback=initMap">
    </script>
	

	</body>
</html>
